{{ form_start(todoForm) }}
{{ form_row(todoForm.description) }}
{{ form_row(todoForm.category) }}
{{ form_row(todoForm.priority) }}
{{ form_row(todoForm.createdAt) }}
{{ form_row(todoForm.dueDate) }}
{{ form_row(todoForm.createdBy) }}

<button type="submit" class="btn btn-primary" formnovalidate>Save</button>
{{ form_end(todoForm) }}