{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="pull-right" style="margin-bottom: 10px; margin-top: 20px;">
            <a href="{{ path('todo_create') }}" class="btn btn-primary pull-right">Add <span class="fa fa-plus-circle"></span></a>
        </div>

        <table  class="table table-striped">
            <thead>
            <tr>
                <th>Todo</th>
                <th>Category</th>
                <th>Created At</th>
                <th>Due Date</th>
                <th>Created By</th>
                <th>&nbsp;</th>
            </tr>
            </thead>

            <tbody>
            {% for todo in todos %}
                <tr>
                    <td><a href="{{ path('todo_show', {'slug': todo.slug}) }}">{{ todo.description }}</a></td>
                    <td>{{ todo.category }}</td>
                    <td>{{ todo.createdAt | date('Y-m-d') }}</td>
                    <td>{{ todo.dueDate | date('Y-m-d') }}</td>
                    <td>{{ todo.createdBy }}</td>
                    <td>
                        <a href="{{ path('todo_edit', {'id': todo.id}) }}" class="btn btn-xs btn-success"><span class="fa fa-pencil"></span></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}